<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="tcpSocketConfig" type="CB.Net.Socket.TcpSocketConfigurationSection, CB.Net.Socket" />
  </configSections>

  <tcpSocketConfig ipAddress="192.168.1.2" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>