<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="backlog" value="100" />
    <add key="bufferSize" value="1024" />
    <add key="ipAddress" value="192.168.1.25" />
    <add key="port" value="11011" />
  </appSettings>
</configuration>